<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>

<body>
    <h1>blog pots</h1>
    <hr>
    <div>
        <ol>
            {% for post in posts %}
            <h4>
                <li>
                    <a href="{% url 'blog:detail' pk=post.id %}">
                        <h2>{{ post.title }} - id:{{post.id}}</h2>
                    </a>
                    <a href="{% url 'blog:edit' pk=post.id %}">
                        <h4>EDIT</h4>
                    </a>
                    <a href="{% url 'blog:delete' pk=post.id %}">
                        <h4>delete</h4>
                    </a>
                    <small> {{ post.author.user }}, {{ post.created_date|date:'Y M d' }}</small>
                </li>
            </h4>
            {% endfor %}
        </ol>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <hr>
    <a href="created/">create blog</a>
</body>

</html>