<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>
<body>
    {% if object.image %}<img style="height: 250px; width: 250px;" src="{{ object.image.url }}" alt="{{object.title}}">{% endif %}
    <h1>{{ object.title }} - {{ post.id }}</h1>
    <hr>
    <small>{{ post.author.email }} - ({{post.published_date|date:'Y M d'}})</small>
    <h2>{{object.content}}</h2>

</body>
</html>